@font-face {
    font-family: Game;
    src: url(./media/Game.ttf);
}


body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    background-color: azure;
    gap: 1rem;
    align-items: center;
}

h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.points-board {
    display: flex;
    flex: 1;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    gap: 1rem;
}

.first-point-board , .second-point-board {
    height: 7rem;
    width: 14rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.name {
    flex: 1;
    border: 1px solid black;
    background-color: #DACC3E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.points {
    flex: 2;
    border: 1px solid black;
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}


.board-space {
    display: flex;
    flex: 3;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
}

.scelte-player {
    display: flex;
    flex: 1;
    background-color: aquamarine;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 5px;
}

.versus {
    width: 18rem;
    height: 4rem;
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.board {
    display: grid;
    height: 20rem;
    width: 20rem;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    background-color: brown;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .button-container button {
    margin: 5px;
  }









.footer {
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    gap: 5px;
    background-color: #DACC3E;
    justify-content: center;
}

a{
    text-decoration: none;
}

a img {
    height: 2.1rem;
    width: 2rem;
    filter:brightness(0) invert(1);
}

.nome-github {
    color: rgb(255, 255, 255);
}
